
<header>
    <nav class="whole-place centring">
        <ul id="navigationList" class="ollcenter centring">
            <li>
                <a href="~/Home/Index"><img class="ph-home" src="images/63633.png" /> Tourism Club</a>
            </li>

            
            @{
                if (ViewBag.Reg != null)
                {
                    if (ViewBag.Reg)
                    {
                        <li>
                            <a href="~/User/Registration">SIGN UP</a>
                        </li>

                    }
                }
            }
            @{
                if (User.Identity.Name != null)
                {
                    <li>
                        <a href="~/User/Logout">Logout</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="~/User/Login">SIGN IN</a>
                    </li>
                }
            }
            @{
                if (ViewBag.boolAdmin != null)
                {
                    if (ViewBag.boolAdmin)
                    {
                        <li><a href="~/Admin/ChooseEdit">Admin panel</a> </li>

                    }
                }
            }


            <!--- <li><a href="admin.html">Панель Адміністратора</a></li>-->
            <li>
                @{
                    if (User.Identity.Name != null)
                    {
                        <a>@User.Identity.Name</a>
                    }
                    else
                    {
                        <a>No entered user</a>
                    }
                }
            </li>
        </ul>
    </nav>
</header>