@model IEnumerable<tourism_club.Models.Location>

<h3>Locations</h3>

<br />

<table>

    @{ foreach (var loc in Model)
        {
            <tr>
                <td>
                    @loc.LocationTitle
                </td>
                <td>
                    <a href ="~/Home/Location/@loc.Id">Watch</a>
                </td>
            </tr>
        }
    }

</table>




