@model IEnumerable<tourism_club.Models.Location>
<br />


<h1 id="mainText" class="centring centringpading">
    Красиві місця України
</h1>

<div id="mainContent" class="centringpading">
    <section id="gridSection">
        @{
            foreach (var loc in Model)
            {
                <article class="centringpading">
                    <a href="~/Home/Location/@loc.Id">
                        <img class="imgStyle" src="@loc.PathToPhotos.Split(",")[0].ToString()" />


                        <div>
                            @loc.LocationTitle
                        </div>
                    </a>
                </article>
            }
        }



    </section>
</div>


