@model tourism_club.Models.User

<div id="login_reistration_fon">
    <div id="reistrationBloc" class="centringpading formBloc">
        <form method="post" class="centringpading">
            <input autocomplete="off" class="setsize" type="text" name="Name" value="@Model.Name" placeholder=" Уведіть имя" />

            <input autocomplete="off" class="setsize" type="password" name="password" value="@Model.password" placeholder=" Уведіть пароль" />

            <input id="authorizationButton"
                   class="centringpading setsize" type="submit" value="Увійти " />
            @{
                if (ViewBag.data != null)
                {
                    <div class="name centring">
                        <p>@ViewBag.data</p>
                    </div>
                }
            }
            <!-- alert (реєстрація успішна)-->
        </form>
    </div>

</div>